html, body, h2, #login {
    height: 100%;
}

.form {
    max-width: 600px;
    padding: 15px;
    margin: auto;
    text-align: center;
}


#user-email, #user-pw {
    max-width: 600px;
}

.input-name {
    text-align: right;
}

.form-control {
    max-width: 400px;
}

#login, #add-friend, #add-reminder, #add-event, #send-text, #new-account {
    background-color: #42CF5E;
    display: flex;
    color: white;
}


h1, h2, .subtitle, .navbar {
    font-family: 'Montserrat';
    color: white;
}

.navbar {
    max-height: 50px;
}

h1 {
    
    font-size: 48px;
    
}

.subtitle {
    font-size: 15px;
}

.card {
    border: 0px;
}

#friend-name, #timeline-head {
    color: #157F1F;
}

.stype-pic {
    height: 25px;
    width: 25px;
}

#friend-info-list{
    font-family: 'Roboto';
}

.events {
    border-width: 1px;
    border-style: solid;
    border-color: #157F1F;
}

.info {
    border-color: #C5E8CC; 
}

li {
    list-style: none;
    margin: 20px;
}

.social-list, .card {
    display: inline-block;
}

.card-title {
    text-align: center;
}

.modal-dialogue {
    margin: 1.75rem auto;
    position: relative;
    max-width: 500px;
}
