{% extends 'base.html' %}

{% block title %}Add Friend{% endblock %}

{% block body %}
  <h1>Add New Friend</h1>

  <div class="form" id="add-friend">
    <form enctype="multipart/form-data" action="/friends" method="POST">
      <div class="form-entry" id="friend-name">
        <p>
          Full Name: <input type="text" name="name" required>
        </p>
      </div>

      <div class="form-entry" id="friend-bday">
        <p>
          Birthday: <input type="date" name="bday" required>
        </p>
      </div>

      <div class="form-entry" id="friend-met">
        <p>
          When did you meet? (if you don't remember the exact day, just put the 
          first of the month or the first of the year): 
          <input type="date" name="met" required>
        </p>
      </div>

      <div class="form-entry" id="friend-pic">
        <p>
          Picture: <input id="pic" type="file" name="pic">
        </p>
      </div>

      <div class="form-entry" id="friend-likes">
        <p>
          Likes: <input type="text" name="likes">
        </p>
      </div>

      <div class="form-entry" id="friend-dislikes">
        <p>
          Dislikes: <input type="text" name="dislikes">
        </p>
      </div>

      <div class="form-entry" id="friend-type">
        <p>
          Friend type: 
          <select name='friend_type'>
            {% for type in types %}
            <option value={{type.friend_key}}>{{type.name}}</option>
            {% endfor %}
          </select>
        </p> 
      </div>     

      <div class="submit-button" id="friend-submit">
        <p>
          <input type="submit">
        </p>
      </div>
  </div>

{%endblock%}