{% extends 'base.html' %}

{% block title %}Add Friend{% endblock %}

{% block body %}

<div class="container-fluid" id="add-friend">
  <form class="form" enctype="multipart/form-data" action="/friends" method="POST">
    <div class="title mb-4" id="add-friend-title">
      <h1>Add New Friend</h1>
    </div>

    <div class="add-friend-form">

      <div class="form-group row">
        <div class="input-name col p-0">Full Name:</div>
        <div class="col-8 mr-4"><input type="text" class="form-control col" name="name" required></div>
      </div>

      <div class="form-group row">
        <div class="input-name col p-0">Birthday:</div>
        <div class="col-8 mr-4"><input type="date" class="form-control" name="bday" required></div>
      </div>


      <div class="form-group row">
        <div class="input-name col p-0">When did you meet?</div>
        <div class="col-8 mr-4"><input type="date" class="form-control" name="met" required></div>
      </div>


      <div class="form-group row">
        <div class="input-name col p-0">Picture:</div>
        <div class="col-8 mr-4"><input id="pic" class="form-control" type="file" name="pic"></div>
      </div>


      <div class="form-group row">
        <div class="input-name col p-0">Likes:</div>
        <div class="col-8 mr-4"><input type="text" class="form-control" name="likes"></div>
      </div>


      <div class="form-group row">
        <div class="input-name col p-0">Dislikes:</div>
        <div class="col-8 mr-4"><input type="text" class="form-control" name="dislikes"></div>
      </div>

      <div class="form-group row">
        <div class="input-name col p-0">Friend Type:</div>
        <div class="col-8 mr-4">
          <select class="form-control" name='friend_type'>
            {% for type in types %}
              <option value={{type.friend_key}}>{{type.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success">Add Friend!</button>
  </form>
</div>

{# <div class="container-fluid" id="add-friend">
  <form class="form" enctype="multipart/form-data" action="/friends" method="POST">
      <div class="title" id="add-friend-title"><h1>Add New Friend</h1></div>
      <div class="form-entry" id="friend-name">
        <p>
          Full Name: <input type="text" name="name" required>
        </p>
      </div>

      <div class="form-entry" id="friend-bday">
        <p>
          Birthday: <input type="date" name="bday" required>
        </p>
      </div>

      <div class="form-entry" id="friend-met">
        <p>
          When did you meet? (if you don't remember the exact day, just put the 
          first of the month or the first of the year): 
          <input type="date" name="met" required>
        </p>
      </div>

      <div class="form-entry" id="friend-pic">
        <p>
          Picture: <input id="pic" type="file" name="pic">
        </p>
      </div>

      <div class="form-entry" id="friend-likes">
        <p>
          Likes: <input type="text" name="likes">
        </p>
      </div>

      <div class="form-entry" id="friend-dislikes">
        <p>
          Dislikes: <input type="text" name="dislikes">
        </p>
      </div>

      <div class="form-entry" id="friend-type">
        <p>
          Friend type: 
          <select name='friend_type'>
            {% for type in types %}
            <option value={{type.friend_key}}>{{type.name}}</option>
            {% endfor %}
          </select>
        </p> 
      </div>     

      <div class="submit-button" id="friend-submit">
        <p>
          <input type="submit">
        </p>
      </div>
  </div>
</div> #}

{%endblock%}


{# (If you don't remember the day just put the first of the month or the first of the year) #}