{% extends 'base.html' %}

{% block title %}Create Reminder{% endblock %}

{% block body %}
  <h1>Create Reminder</h1>

  <div class="form" id="add-reminder">
    <form action="/reminders" method="POST">

      <div class="form-entry" id="reminder-name">
        <p>
          Reminder Name: <input type="text" name="reminder_name" required>
        </p>
      </div>

      <div class="form-entry" id="reminder-date">
        <p>
          When do you want us to remind you?: <input type="datetime-local" name="reminder_time" required>
        </p>
      </div>

      <div class="submit-button" id="friend-submit">
        <p>
          <input type="submit">
        </p>
      </div>
  </div>

{%endblock%}