{% extends 'base.html' %}
{% block title %}Your Friends{% endblock %}

{%block body%}

<nav class="navbar navbar-expand sticky-top navbar-dark" style="background-color: #42CF5E">
  <a class="navbar-brand" href="/users/{{ user_id }}/friends">FT</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/friends/add-friend">Add New Friend</a>
    </li>
  </ul>
</nav>

<div class='container-fluid pt-3'>
  {% for friend in friends %}
    <div class="card m-4" style="max-width: 300px;">
      <a href='/friends/{{ friend.friend_id }}'><img src="{{friend.picture}}" class="card-img rounded-circle"></a>
      <div class="card-body">
        <h5 class="card-title"><a href='/friends/{{ friend.friend_id }}'>{{ friend.full_name }}</a></h5>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}

