{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <div class="form" id="login">
    <div class="header2" id="login-head">
      <h2>Login</h2>
    </div>

    <form action="/users" method="POST">
      <div class="form-entry" id="user-email">
        <p>
          Email <input type="text" name="email">
        </p>
     </div>

      <div class="form-entry" id="user-pw">
        <p>
          Password <input type="text" name="password">
        </p>
      </div>

      <div class="submit-button" id="login-submit">
        <p>
          <input type="submit">
        </p>
      </div>
  </div>

  <div class="form-link" id="create-acct-link">
    <a href="/create-account">Create new account</a>
  </div>

{%endblock%}