{% extends 'base.html' %}

{% block title %}Create New Account{% endblock %}

{% block body %}

  <div class="form" id="create-acct">
    <div class="header2" id="create-acct-head">
      <h2>Create New Account</h2>
    </div>

    <form action="/users/new" method="POST">
      <div class="form-entry" id="new-email">
        <p>
          Email <input type="text" name="email">
        </p>
      </div>

      <div class="form-entry" id="new-pw">
        <p> 
          Password <input type="text" name="password">
        </p>
      </div>

      <div class="submit-button" id="login-submit">
        <p>
          <input type="submit">
        </p>
      </div>
  </div>

{%endblock%}