{% extends 'base.html' %}

{% block title %}Send A Text{% endblock %}

{% block body %}

<div class="container-fluid" id="send-text">
  <form class="form" action="/texts" method="POST">
    <div class="title mb-4" id="send-text-title">
      <h1>Send a Text</h1>
    </div>

    <div class="text-form">
      <div class="form-group row">
        <div class="input-name col p-0">Phone Number:</div>
        <div class="col-6 mr-4"><input class="form-control" type="text" name="phone_number" required></div>
      </div>

      <div class="form-group row">
        <div class="input-name col p-0">Message:</div>
        <div class="col-6 mr-4"><input class="form-control" type="text" name="message"></div>
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-2">Send Text!</button>
  </form>
</div>





{#   

  <div class="form" id="send-text">
    <form action="/texts" method="POST">
      <div class="form-entry" id="text-number">
        <p>
          Phone Number: <input type="text" name="phone_number" required>
        </p>
      </div>

      <div class="form-entry" id="text-msg">
        <p>
          Message: <input type="text" name="message">
        </p>
      </div>

      <div class="submit-button" id="login-submit">
        <p>
          <input type="submit">
        </p>
      </div>
  </div>
 #}
{%endblock%}