{% extends 'base.html' %}

{% block title %}Send A Text{% endblock %}

{% block body %}
  <h1>Send a Text</h1>

  <div class="form" id="send-text">
    <form action="/texts" method="POST">
      <div class="form-entry" id="text-number">
        <p>
          Phone Number: <input type="text" name="phone_number" required>
        </p>
      </div>

      <div class="form-entry" id="text-msg">
        <p>
          Message: <input type="text" name="message">
        </p>
      </div>

      <div class="submit-button" id="login-submit">
        <p>
          <input type="submit">
        </p>
      </div>
  </div>

{%endblock%}